:root {
    justify-content: center;
    align-self: center;
    align-items: center;
    align-content: auto;
    visibility: visible;
    overflow: visible;
    background-color: rgb(231, 199, 154);
    background-image: none;
    -unity-background-scale-mode: stretch-to-fill;
    -unity-background-image-tint-color: rgb(255, 255, 255);
}
